.massege
  .chat-main__messages__upper-info
    %p.chat-main__messages__upper-info--talker
      yusuke
    %p.chat-main__messages__upper-info--date
      time now
  %p.chat-main__messages--text
    みさきのあほ〜
.massege
  .chat-main__messages__upper-info
    %p.chat-main__messages__upper-info--talker
      misaki
    %p.chat-main__messages__upper-info--date
      time now
  %p.chat-main__messages--text
    なんだLサイズwww