.chat-side
  = render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__group-name
        グループ名
      %ul.chat-main__header__left-box__members
        Member:
        %li.chat-main__header__left-box__members-list
          yusuke
        %li.chat-main__header__left-box__members-list
          misaki
    .chat-main__header__edit-btn
      = link_to "#", class: "btn" do
        Edit
        
  .chat-main__messages
    = render 'messages/message'

  .chat-main__footer
    %form.new_message{action: "", method: "post"}
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text"}
        %label.input-box__image
          %input.input-box__image__file{type: "file"}
            =fa_icon 'picture-o', class: "fa-image"
      %input.submit-btn{type: "submit",value: "Send"}

